@{
    ViewData["Title"] = "Home Page";
}


<br />
<br />
<div class="text-center" >
    <h1 class="display-4" style="font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: white;">
        Bun venit!
    </h1>
    <br />
    <br />
    <p style ="font-family: 'Satisfy', cursive;
    font-size: 20px;
    color: white;">
        Acesta este cel mai mare site de articole stiintifice. Poti accesa
        toate aceste informatii daca iti 
        <a asp-area="Identity" asp-page="/Account/Register" style="color:deepskyblue">creezi un cont</a>.
    </p>

    <p style="font-family: 'Satisfy', cursive;
    font-size: 20px;
    color: white;" >
        Daca ai deja un cont,&nbsp; 
        <a asp-area="Identity" asp-page="/Account/Login" style="color:deepskyblue">acceseaza contul tau</a>.
</div>

<div class="images-home">
    <list>
        <img src="https://th.bing.com/th/id/R.05bc3d0a7931729da144c619eb9af2dc?rik=DvLSxvWOeNWl8g&pid=ImgRaw&r=0" 
        style="width:600px; height:320px;"/>
        <img src="https://th.bing.com/th/id/R.862c0f6e4f45660f8c746514b8d1e8da?rik=WYbOFXpw8uHmiw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-39x05Nf31EU%2fUhYQNAmEn1I%2fAAAAAAAABb8%2fPekAsOtLjjo%2fs1600%2fKnowledge.jpg&ehk=2j6oYIQLeTrrMybO3P8SPp7PgDl9zpWm2G0J8gVVmlA%3d&risl=&pid=ImgRaw&r=0"
             style="width:600px; height:320px;"/>
        
    </list>

</div>
