@model PROIECT.Models.Domain

@{
    ViewBag.Title = "Editare Domeniu";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Domains", method: FormMethod.Post, routeValues: new { id = Model.Id }))
{
    @Html.Label("DomainName", "Nume domeniu")
    <br />
    @Html.TextBox("DomainName", Model.DomainName)
    @Html.ValidationMessage("DomainName", null, new {@class = "text-danger"})
    <br />
    <button class="btn btn-success" type="submit">Modifica domeniu</button>
}

